<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}{% endblock page_title %}</title>
    <link rel="stylesheet" href="{% static 'usuario/usuario.css' %}">
    <link rel="icon" type="image/png" href="{% static 'usuario/img/favicon.png' %}">
</head>
<body>
    <div class="container">

        <div class="content first-content">
            <div class="first-column">
                <h2 class="title">Bem-vindo(a) de volta!</h2>
                <p class="description">Para se manter conectado</p>
                <p class="description">Por favor conecte com suas informações pessoais</p>
                <button class="btn">Conectar</button>
            </div>
            <div class="second-column">
                <h2 class="title">Criar conta</h2>
                <div class="social-media">
                    <ul class="list-social-media">
                        <li><a href="#"></a>discord</li>
                        <li><a href="#"></a>github</li>
                        <li><a href="#"></a>facebook</li>
                    </ul>
                </div><!--social media-->
                <p class="description">Ou utilize seu email para se registrar</p>
                <form class="form">
                    <input type="text" placeholder="Usuário">
                    <input type="email" placeholder="E-mail">
                    <input type="password" placeholder="Senha">
                    <button class="btn">Criar conta</button>
                </form>
            </div><!--second column-->
        </div><!--Cadastrar-->

        <div class="content second-content">
            <div class="first-column">
                <h2 class="title">Olá, amigo(a)</h2>
                <p class="description">Cadastre seus dados</p>
                <p class="description">e inicie sua jornada comigo!</p>
                <button class="btn">Cadastrar-se</button>
            </div>
            <div class="second-column">
                <h2 class="title">Conecte-se</h2>
                <div class="social-media">
                    <ul class="list-social-media">
                        <li><a href="#"></a>discord</li>
                        <li><a href="#"></a>github</li>
                        <li><a href="#"></a>facebook</li>
                    </ul>
                </div><!--social media-->
                <p class="description">Ou use seu usuário e senha!</p>
                <form class="form">
                    <input type="text" placeholder="Usuário">
                    <input type="password" placeholder="Senha">
                    <a href="#">Esqueceu sua senha?</a>
                    <button class="btn">Conectar</button>
                </form>
            </div><!--second column-->
        </div><!--Conectar-->

    </div>
    <script src="{% static 'usuario/js/main.js' %}"></script>
</body>
</html>