* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: azure;
    border-radius: 15px;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-content {
    display: flex;
}

.list-social-media {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
}


.second-content {
    position: absolute;
    display: none;
}




/*
#d16b94
#f4a1b7
*/